<section>
  <h1>Things</h1>
  <ul>
    <li><a href="/passcod03.asc">Current GPG Key ⚔ FE31 5C83…</a></li>
    <li><a href="//stuff.passcod.name/aucklug/">AuckLUG Videos ⚔ Recorded talks</a></li>
    <li><a href="http://checkthis.com/adiskadime">Adiskadime ⚔ Cheap Linux CDs</a></li>
    <li><a href="http://checkthis.com/i7up">People ⚔ Prose</a></li>
    <li><a href="http://checkthis.com/kxag">H E A R T ⚔ Art</a></li>
    <li><a href="http://bit.ly/zP698W">Dreams and Magic ⚔ Prose</a></li>
    <li><a href="http://bit.ly/AfF3BU">Margae ⚔ Prose</a></li>
    <li><a href="http://bit.ly/14IT3EV">Plugged In Dreams ⚔ Prose</a></li>
    <li><a href="https://gist.github.com/3208086">Old #unblog posts</a></li>
    <li><a href="http://stackoverflow.com/users/231788/passcod">StackOverflow</a></li>
    <li><a href="http://careers.stackoverflow.com/passcod">SO Careers</a></li>
    <li><a href="https://coderwall.com/passcod">Coderwall</a></li>
    <li><a href="mailto:me@passcod.name">me@passcod.name</a></li>
  </ul>
</section>
<section>
  <h1>Reputation</h1>
  <a href="http://stackexchange.com/users/82437"><img
    src="http://stackexchange.com/users/flair/82437.png"
    width="208"
    height="58"
    alt="profile for F&#233;lix Saparelli on Stack Exchange, a network of free, community-driven Q&amp;A sites"
    title="profile for F&#233;lix Saparelli on Stack Exchange, a network of free, community-driven Q&amp;A sites"></a>
</section>