<section>
  <h1>Things</h1>
  <ul>
    <li><a href="/passcod03.asc">Current GPG Key ⚔ FE31 5C83…</a></li>
    <li><a href="http://stuff.passcod.net/aucklug/">AuckLUG Videos ⚔ Recorded talks</a></li>
    <li><a href="http://checkthis.com/adiskadime">Adiskadime ⚔ Cheap Linux CDs</a></li>
    <li><a href="http://checkthis.com/i7up">People ⚔ Prose</a></li>
    <li><a href="http://checkthis.com/kxag">H E A R T ⚔ Art</a></li>
    <li><a href="http://bit.ly/zP698W">Dreams and Magic ⚔ Prose</a></li>
    <li><a href="http://bit.ly/AfF3BU">Margae ⚔ Prose</a></li>
    <li><a href="">Words ⚔ Old textpattern blog</a></li>
    <li><a href="https://gist.github.com/3208086">Old #unblog posts</a></li>
    <li><a href="http://stackoverflow.com/users/231788/passcod">StackOverflow</a></li>
    <li><a href="http://careers.stackoverflow.com/passcod">SO Careers</a></li>
    <li><a href="https://coderwall.com/passcod">Coderwall</a></li>
    <li><a href="mailto:me@passcod.net">me@passcod.net</a></li>
  </ul>
</section>