@font-face {
  font-family: "Cassia";
  src: url('/cassia.eot');
  src: url('/cassia.eot?#iefix') format('embedded-opentype'),
       url('/cassia.woff') format('woff'),
       url('/cassia.otf') format('opentype'),
       url('/cassia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

@mixin myserif {
  font-family: Cassia, Georgia, serif;
  font-weight: bold;
}

@mixin myhead {
  font-family: "Passero One", "Lucida Sans Unicode", "Lucida Grande", 
sans-serif;
  font-style: normal;
  font-weight: normal;
}
