// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

q {
  padding-left: 1em;

  &:after {
    content: "』";
  }

  &:before {
    content: "『";
    left: 0;
    position: relative;
  }

  &:after, &:before {
    color: lightgrey;
    font-size: 3em;
    position: absolute;
  }
}
